<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mission to Mars</title>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class = "container-fluid">
        <div class = "jumbotron text-center">
            <h1> Mission to Mars </h1>
        </div>

        <div class = "container">
            <h2>Latest Mars News</h2>
            <h7>{{ mars_data.latest_title }}</h7>
            <p>{{ mars_data.latest_p }}</p>
        </div>
        <br> 

        <div class ="container">
            <div clas = "row">
                <div class = "col-lg-6 col-md-6 col-sm-10">
                    <h2 style= "font-size: 30px">Featured Mars Image </h2>
                     <img src={{mars_data.feat_img_url}}>
                </div>

                <div class = "col-lg-3 col-md-3, col-sm-10">
                    <h4>Mars Facts</h4>
                    <div class = "text-align" style="text-align:center; max-width:300px; max-height:90px;">
                        {{mars_data.galaxy_html}}
                    </div>
                </div>
            </div>
        </div>
     </div>   
<br>
<br>
<br>
<br>
    <div class = "container">
        <div class = "row">
            <div class ="col-lg-10">
                <h2 style = "text-align: center; font-size 25px">Mars Hemispheres</h2>
                <br>
            </div>
 
        </div>
    </div>

</body>
</html>